// About me section
#about {
    height: auto;
    @media (min-width: 992px) {
        height: 100vh;
    }
    .about {
        text-align: center;
        @media (min-width: 992px) {
            text-align: left;
            padding-right: 30px;
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        &::before {
            background-image: url(../images/about-dwight.png);
            background-size: 100%;
            content: '';
            display: block;
            height: 200px;
            width: 200px;
            margin: 0 auto;
            @media (min-width: 992px) {
                float: left;
                margin-right: 30px;
            }
        }
    }
}