header {
    position: fixed;
    height: 60px;
    background: #111f28;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    .logo {
        display: inline-block;
        padding: 12px 10px;
        height: 100%;
    }
    @media (min-width: 768px) {
        display: none;
        .logo {
            display: none;
        }
    }
}
.menu {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 999;
    transition: all .3s ease;
    &::before,
    &::after,
    span {
        background: black;
        border-radius: 2px;
        // border: 1px solid $white;
        content: '';
        display: block;
        height: 3px;
        width: 40px;
        margin: 0 auto;
        position: relative;
        transition: all .3s ease;
        transform-origin: 20%;
    }
    &::before {
        top: 10px;
        transform: rotate(0deg);
    }
    span {
        top: 16px;
    }
    &::after {
        top: 22px;
        height: 3px; // animation: none; 
        transform: rotate(0deg);
    }
    &.open {
        &::before {
            // animation: rotateForward.3s ease forwards; 
            transform: rotate(130deg);
            background: #111f28;
        }
        &::after {
            // animation: rotateBack.3s ease forwards; 
            transform: rotate(-130deg);
            background: #111f28;
            top: 22px;
        }
        &::before,
        &::after,
        span {
            left: 20px;
        }
        span {
            opacity: 0;
        }
    }
    @media (min-width: 768px) {
        display: none;
    }
}
nav {
    // border: 1px solid red;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    transition: all .5s ease;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: translateX(-100%);

    @media (min-width: 768px) {
        position: fixed;
        width: 50px;
        background: rgba(0, 0, 0, .8);
        background: #111f28;
        display: block;
        justify-content: initial;
        align-items: initial;
        transform: translateX(0);
    }
    .nav-items {
        padding: 0;
        margin: 0;
        // display: none;
        position: absolute;
        width: 100%;
        @media (min-width: 768px) {
            top: 50%;
            transform: translateY(-50%);
        }
        li {
            list-style: none;
            //    border-bottom: 3px solid $white;
            margin-bottom: 10px;
            text-align: center;
            @media (min-width: 768px) {
                margin-bottom: 0;
            }
            a {
                color: #484e52;
                font-size: 40px;
                text-decoration: none;
                display: block;
                transition:  all .23s ease;
                @media (min-width: 768px) {
                    font-size: 12px;
                    padding: 20px 0;
                    color: transparent;
                    &:hover {
                        //    background: #484e52;
                        color: $white;
                        font-size: 12px;
                        .material-icons,
                        .fas {
                            color: $white;
                        }
                    }
                }
                .material-icons,
                .fas {
                    display: none;
                    @media (min-width: 768px) {
                        transition: all .23s ease;
                        color: #484e52;
                        display: inline-block;
                        font-size: 1.5rem;
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
    &.open {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        // background: rgba(0, 0, 0, 0.9);
        transform: translateX(0);
    }
}

.logo {
    background: #060607;
    padding: 15px 0;
    text-align: center;
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
    a {
        display: block;
        text-decoration: none;
    }
    small {
        font-size: 10px;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 30px;
        margin: 0 auto;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            text-align: center;
            a {
                transition: all .3s ease;
                &:link,
                &:visited,
                &:active, {
                    color: #484e52;
                }
                &:hover {
                    color: $black;
                }
            }
            i {
                margin-bottom: 1em;
            }
        }
    }
}