#work {
    height: auto;
    .row {
        .column {
            display: grid;
            // grid-template-columns: 1fr 2fr 1fr;
            grid-auto-rows: minmax(250px, auto);
            grid-gap: 1em;
            justify-items: stretch;
            align-items: stretch;
            // .column class style override for work section
            width: 100%;
            @media (min-width: 1000px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (min-width: 1200px) {
                grid-template-columns: 1fr 2fr 1fr;
            }
            & > div {
                background: #212121;
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    @media (min-width: 768px) {
                        .project-detail {
                            transform: translateX(0);
                            background: rgba(0, 0, 0, .9);
                        }
                    }
                }
                .project-creative {
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    &.nedbank {
                        background-image: url(../images/work/nedbank-mobi.jpg);
                        @media (min-width: 600px) {
                            background-image: url(../images/work/nedbank.jpg);
                        }
                    }
                    &.masterpass {
                        background-image: url(../images/work/masterpass-mobi.jpg);
                        @media (min-width: 600px) {
                            background-image: url(../images/work/masterpass.jpg);
                        }
                    }
                    &.randgold {
                        background-image: url(../images/work/randgold-mobi.jpg);
                        @media (min-width: 600px) {
                            background-image: url(../images/work/randgold.jpg);
                        }
                    }
                    &.marketedge {
                        background-image: url(../images/work/marketedge-mobi.jpg);
                        @media (min-width: 600px) {
                            background-image: url(../images/work/marketedge.jpg);
                        }
                    }
                    &.nedbankcup {
                        background-image: url(../images/work/nedbankcup-mobi.jpg);
                        @media (min-width: 600px) {
                            background-image: url(../images/work/nedbankcup.jpg);
                        }
                    }
                    &.nedbankid {
                        background-image: url(../images/work/nedbankid-mobi.jpg);
                        @media (min-width: 600px) {
                            background-image: url(../images/work/nedbankid.jpg);
                        }
                    }
                    &.nedbankmfc {
                            background-image: url(../images/work/nedbankmfc-mobi.jpg);
                        @media (min-width: 600px) {
                            background-image: url(../images/work/nedbankmfc.jpg);
                        }
                    }
                    &.sbynm {
                            background-image: url(../images/work/sbynm-mobi.jpg);
                            background-position-y: 0;
                        @media (min-width: 600px) {
                            background-image: url(../images/work/sbynm.jpg);
                            background-position: center;
                        }
                    }
                }
                // .teaser {
                //     transition: all .2s ease;
                // }
                .project-detail {
                    transform: translateY(100%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: all .45s ease;
                    padding: 1em;
                    a {
                        display: inline-block;
                        border-radius: 3px;
                        border: none;
                        font-size: 0.9rem;
                        padding: 0.5rem 0.8em;
                        background: #69c773;
                        border-bottom: 1px solid #498b50;
                        color: white;
                        -webkit-font-smoothing: antialiased;
                        font-weight: bold;
                        margin: 0;
                        width: 100%;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}