/**
 * https://wwww.dwight.co.za/
 * @author Dwight Ramokhola
 * 
 */

 * {
     box-sizing: border-box;
 }
 html,
 body {
     margin: 0;
     font-family: Raleway;
     overflow-x: hidden;
     color: #fff;
 }

 @import 'partials/variables';
 @import 'partials/mixins';
 @import 'partials/anime';
 @import 'partials/nav';
 @import 'partials/skillbar';
 @import 'partials/sections';
 @import 'partials/about';
 @import 'partials/contact-form';